* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 1440px;
}

a {
  text-decoration: none;
  margin: 0 0 0 0;
  display: block;
  font-size: 14px;
  color: #000;
}

.gallery {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  padding: 24px 120px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.gallery > li > a {
  position: relative;
  display: block;
  width: 360px;
  height: 200px;
  cursor: pointer;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.basicLightbox {
  padding: 28px 164px;
}

.basicLightbox__placeholder {
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.input {
  padding: 8px 16px;
  width: 272px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  font-size: 16px;
}

.input:hover {
  border: 1px solid #000;
}

.input:focus {
  outline: none;
  border: 1px solid #4e75ff;
}

.input::placeholder {
  color: #808080;
}

.button {
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background-color: #6c8cff;
}

.gallery-item {
  border: 0.02px solid #000;
  padding-bottom: 64px;
  margin-bottom: 24px;
}

.gallery-image {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.gallery-link-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery-descr {
  font-weight: 600;
  margin-left: 12px;
}

.descr-span {
  text-align: center;
  font-weight: 400;
}
.hidden {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
